/*CSS LOGIN*/
body{
	background-image: url("../img/bgBlack.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
.box-form{
	padding: 20px;
	width: 300px;
	box-sizing: border-box;
	max-width: 100%;
	margin: 0 auto;
	background: linear-gradient(45deg,#52c234,#061700);
	box-shadow: 0px 0px 8px 1px #22c517;
	margin-top: 40px;
}
.box-form .input-box{
	width: 100%;
	margin-bottom:30px;

}
.box-form .input-box input[type="text"],.box-form .input-box input[type="password"]{
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	height: 30px;
	color: #fff;
	background: transparent;
}
.box-form .input-box input[type="text"]::placeholder,
.box-form .input-box input[type="password"]::placeholder{
	color: #fff;
}
.box-form .input-box input[type="text"]:focus,
.box-form .input-box input[type="password"]:focus{
	border-bottom: 1px solid #fff;
}
.box-form input[type="submit"]{
	height: 30px;
	border-radius: 5px;
	color: #fff;
	background: #000;
	cursor: pointer;
}
.error{
	color: red;
	font-weight: bold;
}
#senhaCaps{
	display: none;
}

/*------------ CSS INDEX -----------------*/

.sidebar{
  padding: 20px;
  width: 250px;
  background: linear-gradient(45deg,#52c234,#061700);
  position: fixed;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  transition: width .5s;
  text-align: center;
  word-break: break-word;

}

.sidebar ul{
	padding: 0;
	margin: 0;
}
.sidebar ul li{
	list-style: none;
	margin-right: 10px;
	margin-bottom: 5px;
}
.content{
margin-left: 250px;
padding: 20px;
}
.content h3 {
 color: #fff;
 margin-left: 10px;
 margin-bottom: 20px;
}
.table tr{
	font-weight: bolder;
}
.table td{
	color: #fff;
}
.content .btn-transacao a {
	height: 40px;
	background-color: green;
	color: #fff;
	padding: 10px;
	margin: 10px;
	border-radius:5px;
	text-decoration: none;
}
.btn-mob{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
	display: none;
}
.btn-close{
	text-align:right;
	display: none;
}

@media (max-width: 600px){
.sidebar{
display: none;
}
.content{
	margin-left:0; 
}
.btn-mob{
	display: block;
}
.btn-close{
	display: block;
}

}

@media(min-width: 601px){
.sidebar{
	display: block !important; /* usado o important para poder sobreescrever com eles valores forcadamente*/
	width: 250px !important;
	padding: 20px !important;
}
}


